{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    {% if question_list %}
        <ul>
            {% for question in question_list %}
                <li>
                    <h2>
                    <!-- <a href="/polls/{{question.id}}">{{question.question_text}}</a> -->
                    <a href="{% url 'detail' question.id %}">{{question.question_text}}</a>
                    </h2>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available as of now, maybe you can check again later.</p>
    {% endif %}
</body>
</html>